{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css"/>
    <title>home</title>
</head>
<body>
    <div class="home-header-wrapper"><header class="header">
    <div class="header__container container">
    <div class="header__top">
      <div class="header__contacts">
        <ul class="header__contact">
          <li>
            <?xml version="1.0" encoding="UTF-8"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <!-- Creator: CorelDRAW 2019 (64-Bit) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="4.2133mm"
              height="4.2292mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 158.43 159.03"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: #7b93b0;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <g id="_2459104483840">
                  <g>
                    <path
                      class="fil0"
                      d="M32.11 105.71c15.69,18.75 34.57,33.51 56.12,43.96 8.21,3.89 19.18,8.5 31.41,9.3 0.76,0.03 1.48,0.06 2.24,0.06 8.21,0 14.8,-2.83 20.17,-8.66 0.03,-0.03 0.1,-0.1 0.13,-0.17 1.91,-2.31 4.09,-4.38 6.36,-6.59 1.55,-1.48 3.13,-3.03 4.64,-4.61 7.02,-7.31 7.02,-16.61 -0.06,-23.69l-19.81 -19.81c-3.36,-3.49 -7.38,-5.34 -11.6,-5.34 -4.22,0 -8.27,1.84 -11.73,5.31l-11.8 11.8c-1.09,-0.63 -2.21,-1.19 -3.26,-1.71 -1.32,-0.66 -2.53,-1.29 -3.62,-1.98 -10.74,-6.82 -20.49,-15.72 -29.82,-27.15 -4.71,-5.96 -7.87,-10.97 -10.08,-16.08 3.1,-2.8 6,-5.73 8.8,-8.6 0.99,-1.02 2.01,-2.04 3.03,-3.06 3.56,-3.56 5.47,-7.68 5.47,-11.86 0,-4.19 -1.88,-8.3 -5.47,-11.86l-9.82 -9.82c-1.15,-1.15 -2.24,-2.27 -3.36,-3.43 -2.18,-2.24 -4.45,-4.55 -6.69,-6.63 -3.4,-3.33 -7.39,-5.07 -11.6,-5.07 -4.19,0 -8.21,1.74 -11.73,5.11l-12.33 12.32c-4.48,4.48 -7.02,9.92 -7.54,16.21 -0.63,7.88 0.82,16.25 4.58,26.36 5.76,15.65 14.47,30.18 27.38,45.71zm-23.92 -71.38c0.39,-4.38 2.08,-8.04 5.24,-11.2l12.26 -12.26c1.91,-1.84 4.02,-2.8 6.07,-2.8 2.01,0 4.05,0.96 5.93,2.87 2.21,2.04 4.28,4.19 6.52,6.46 1.12,1.15 2.28,2.31 3.43,3.49l9.82 9.82c2.05,2.04 3.1,4.12 3.1,6.16 0,2.04 -1.05,4.12 -3.1,6.16 -1.02,1.02 -2.04,2.08 -3.06,3.09 -3.06,3.1 -5.93,6.03 -9.09,8.83 -0.07,0.07 -0.1,0.1 -0.17,0.17 -2.74,2.73 -2.31,5.34 -1.65,7.31 0.03,0.1 0.06,0.17 0.1,0.27 2.54,6.1 6.06,11.89 11.57,18.81 9.89,12.19 20.3,21.65 31.77,28.94 1.42,0.92 2.93,1.65 4.35,2.37 1.32,0.66 2.54,1.29 3.62,1.98 0.13,0.06 0.23,0.13 0.36,0.2 1.09,0.56 2.14,0.82 3.2,0.82 2.64,0 4.35,-1.68 4.91,-2.24l12.33 -12.32c1.91,-1.91 3.99,-2.93 6.03,-2.93 2.5,0 4.55,1.55 5.83,2.93l19.87 19.84c3.95,3.96 3.92,8.24 -0.1,12.42 -1.39,1.49 -2.84,2.9 -4.38,4.38 -2.31,2.24 -4.71,4.55 -6.89,7.15 -3.79,4.08 -8.3,6 -14.14,6 -0.56,0 -1.15,-0.03 -1.71,-0.07 -10.81,-0.69 -20.86,-4.91 -28.41,-8.5 -20.5,-9.92 -38.49,-23.99 -53.42,-41.85 -12.29,-14.8 -20.56,-28.57 -26.03,-43.33 -3.4,-9.06 -4.68,-16.34 -4.15,-22.97z"
                    />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </g>
              </g>
            </svg>

            <a href="tel:+998 71 205-55-35 "> +998 71 205-55-35 </a>
          </li>
          <li class="location">
            <?xml version="1.0" encoding="UTF-8"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <!-- Creator: CorelDRAW 2019 (64-Bit) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="2.2922mm"
              height="3.0734mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 13.7 18.37"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: #7b93b0;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <g id="_2460399073840">
                  <g>
                    <path
                      class="fil0"
                      d="M6.85 0c3.78,0 6.85,3.07 6.85,6.85 0,5.63 -6.17,11.13 -6.43,11.36 -0.12,0.11 -0.27,0.16 -0.42,0.16 -0.15,0 -0.3,-0.05 -0.42,-0.16 -0.26,-0.23 -6.43,-5.73 -6.43,-11.36 0,-3.78 3.07,-6.85 6.85,-6.85zm0 16.87c1.36,-1.32 5.58,-5.75 5.58,-10.01 0,-3.08 -2.5,-5.58 -5.58,-5.58 -3.08,0 -5.58,2.51 -5.58,5.58 0,4.26 4.22,8.69 5.58,10.01z"
                    />
                    <path
                      class="fil0"
                      d="M6.85 3.66c1.75,0 3.17,1.43 3.17,3.19 0,1.76 -1.42,3.19 -3.17,3.19 -1.75,0 -3.17,-1.43 -3.17,-3.19 0,-1.76 1.42,-3.19 3.17,-3.19zm0 5.12c1.05,0 1.9,-0.86 1.9,-1.92 0,-1.06 -0.85,-1.92 -1.9,-1.92 -1.05,0 -1.9,0.86 -1.9,1.92 0,1.06 0.85,1.92 1.9,1.92z"
                    />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </g>
              </g>
            </svg>

            <a href="tel:+998 71 205-55-35 ">
              <span class="header__contact_city">Город</span>
              <span class="header__contact-city-active">Ташкент</span>
            </a>
          </li>
        </ul>
        <ul class="header__menu-links">
          <li>
            <a href="#"> Помощь </a>
          </li>
          <li>
            <a href="#"> Оплата </a>
          </li>
          <li>
            <a href="#"> Доставка </a>
          </li>
          <li>
            <a href="#"> Контакты </a>
          </li>
        </ul>
      </div>
      <div class="header__user-lang">
        <ul class="header__lang">
          <li><a href="#" class="active-lang"> Русский </a></li>
          <li><a href="#"> Узбекча </a></li>
        </ul>
        <div class="header__user">
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <!-- Creator: CorelDRAW 2019 (64-Bit) -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            width="3.5578mm"
            height="4.1826mm"
            version="1.1"
            style="
              shape-rendering: geometricPrecision;
              text-rendering: geometricPrecision;
              image-rendering: optimizeQuality;
              fill-rule: evenodd;
              clip-rule: evenodd;
            "
            viewBox="0 0 61.29 72.05"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs>
              <style type="text/css">
                .fil0 {
                  fill: #7b93b0;
                }
              </style>
            </defs>
            <g id="Слой_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer" />
              <g id="_2460941758736">
                <g id="_2811641771952">
                  <g>
                    <g>
                      <path
                        class="fil0"
                        d="M30.39 38.82c0.07,0 0.15,0 0.24,0 0.03,0 0.06,0 0.09,0 0.04,0 0.11,0 0.15,0 4.37,-0.07 7.91,-1.61 10.52,-4.55 5.75,-6.48 4.79,-17.58 4.69,-18.64 -0.37,-7.95 -4.13,-11.76 -7.24,-13.53 -2.31,-1.33 -5.01,-2.04 -8.03,-2.1l-0.11 0c-0.01,0 -0.04,0 -0.06,0l-0.09 0c-1.66,0 -4.91,0.27 -8.03,2.04 -3.13,1.78 -6.95,5.58 -7.33,13.59 -0.11,1.06 -1.06,12.16 4.69,18.64 2.6,2.94 6.13,4.48 10.51,4.55zm-11.21 -22.82c0,-0.04 0.01,-0.09 0.01,-0.12 0.49,-10.7 8.09,-11.85 11.34,-11.85l0.06 0c0.03,0 0.07,0 0.12,0 4.03,0.09 10.88,1.73 11.34,11.85 0,0.04 0,0.09 0.01,0.12 0.02,0.11 1.06,10.25 -3.68,15.59 -1.88,2.12 -4.39,3.16 -7.68,3.19 -0.03,0 -0.04,0 -0.07,0l0 0c-0.03,0 -0.04,0 -0.07,0 -3.28,-0.03 -5.81,-1.07 -7.67,-3.19 -4.73,-5.31 -3.72,-15.5 -3.7,-15.59z"
                      />
                      <path
                        class="fil0"
                        d="M61.29 57.24c0,-0.01 0,-0.03 0,-0.04 0,-0.12 -0.01,-0.24 -0.01,-0.37 -0.09,-2.95 -0.28,-9.86 -6.76,-12.07 -0.04,-0.02 -0.11,-0.03 -0.15,-0.05 -6.73,-1.72 -12.32,-5.6 -12.38,-5.64 -0.91,-0.64 -2.16,-0.42 -2.8,0.49 -0.64,0.91 -0.42,2.16 0.49,2.81 0.25,0.18 6.19,4.31 13.62,6.22 3.48,1.24 3.86,4.95 3.97,8.36 0,0.13 0,0.25 0.01,0.37 0.02,1.34 -0.07,3.42 -0.31,4.61 -2.42,1.37 -11.89,6.12 -26.31,6.12 -14.35,0 -23.89,-4.76 -26.32,-6.13 -0.24,-1.19 -0.34,-3.27 -0.31,-4.61 0,-0.12 0.01,-0.24 0.01,-0.37 0.11,-3.4 0.49,-7.12 3.97,-8.36 7.43,-1.91 13.37,-6.06 13.62,-6.22 0.91,-0.64 1.13,-1.89 0.49,-2.8 -0.64,-0.91 -1.89,-1.14 -2.8,-0.49 -0.06,0.04 -5.63,3.92 -12.38,5.64 -0.06,0.01 -0.11,0.03 -0.15,0.04 -6.48,2.22 -6.67,9.13 -6.76,12.07 0,0.13 0,0.25 -0.02,0.37 0,0.02 0,0.03 0,0.05 -0.02,0.78 -0.03,4.76 0.76,6.76 0.15,0.39 0.42,0.72 0.78,0.94 0.45,0.3 11.18,7.13 29.13,7.13 17.95,0 28.68,-6.85 29.13,-7.13 0.34,-0.22 0.63,-0.55 0.78,-0.94 0.75,-1.98 0.73,-5.97 0.71,-6.74z"
                      />
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </g>
              </g>
            </g>
          </svg>

          <span>Войти в личный кабинет </span>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <a class="header__logo">
        <img src="{% static '/img/mainLogo.png' %}" alt="main logo" />
      </a>
      <div class="header__side-toggle">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <div class="header__catalog">
        <a href="#" class="header-catalog-ham">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <p>Каталог товаров</p>
      </div>
      <div class="header__search">
        <div class="header__input">
          <input type="search" placeholder="Поиск... " />
          <div class="header__input_close">
            <!--<button>
              <img src="./img/searchClose.png" alt="search close" />
            </button>-->
          </div>
        </div>

        <button><img src="{% static '/img/searchIcon.png' %}" alt="search icon" /></button>
      </div>
      <ul class="header__notifications">
        <li>
          <a href="#">
            <span class="header__notification_badge"> 3 </span>
            <?xml version="1.0" encoding="UTF-8"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <!-- Creator: CorelDRAW 2019 (64-Bit) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="6.009mm"
              height="4.2269mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 69.67 49.01"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: black;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <g id="_2459096747952">
                  <path
                    class="fil0"
                    d="M14.89 49.01c-8.21,0 -14.89,-6.68 -14.89,-14.89 0,-3.3 1.94,-8.32 6.11,-15.79 2.85,-5.1 5.68,-9.41 5.8,-9.59l2.05 -3.1c0.21,-0.31 0.56,-0.5 0.93,-0.5 0.37,0 0.72,0.19 0.93,0.5l2.05 3.1c0.12,0.18 2.93,4.45 5.8,9.59 4.17,7.48 6.11,12.49 6.11,15.79 0,8.21 -6.68,14.89 -14.89,14.89zm6.24 -28.93c-2.58,-4.63 -5.11,-8.46 -5.22,-8.63l-1.02 -1.54 -1.02 1.54c-0.11,0.16 -2.65,4.03 -5.22,8.63 -3.53,6.33 -5.32,10.85 -5.32,13.43 0,6.37 5.18,11.56 11.56,11.56 6.37,0 11.56,-5.18 11.56,-11.56 0,-2.58 -1.79,-7.09 -5.32,-13.43z"
                  />
                  <path
                    class="fil0"
                    d="M54.78 49.01c-8.21,0 -14.89,-6.68 -14.89,-14.89 0,-3.3 1.94,-8.32 6.11,-15.79 2.85,-5.1 5.68,-9.41 5.8,-9.59l2.05 -3.1c0.21,-0.31 0.56,-0.5 0.93,-0.5 0.37,0 0.72,0.19 0.93,0.5l2.05 3.1c0.12,0.18 2.93,4.45 5.8,9.59 4.17,7.48 6.11,12.49 6.11,15.79 0,8.21 -6.68,14.89 -14.89,14.89zm6.23 -28.93c-2.58,-4.63 -5.11,-8.46 -5.22,-8.63l-1.02 -1.54 -1.02 1.54c-0.11,0.16 -2.65,4.03 -5.22,8.63 -3.53,6.33 -5.32,10.85 -5.32,13.43 0,6.37 5.19,11.56 11.56,11.56 6.37,0 11.56,-5.18 11.56,-11.56 0,-2.58 -1.79,-7.09 -5.32,-13.43z"
                  />
                  <path
                    class="fil0"
                    d="M21.51 4.37l7.48 0c0.68,-2.51 2.98,-4.37 5.7,-4.37 2.73,0 5.03,1.85 5.7,4.37l7.48 0c0.84,0 1.53,0.69 1.53,1.53l0 0c0,0.84 -0.69,1.53 -1.53,1.53l-7.48 0c-0.68,2.51 -2.98,4.37 -5.7,4.37 -2.72,0 -5.02,-1.86 -5.7,-4.37l-7.48 0c-0.84,0 -1.53,-0.69 -1.53,-1.53l0 0c0,-0.84 0.69,-1.53 1.53,-1.53zm13.18 -0.43c1.09,0 1.97,0.88 1.97,1.97 0,1.09 -0.88,1.97 -1.97,1.97 -1.08,0 -1.97,-0.88 -1.97,-1.97 0,-1.08 0.88,-1.97 1.97,-1.97z"
                  />
                </g>
              </g>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="header__notification_badge"> 3 </span>
            <?xml version="1.0" encoding="UTF-8"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <!-- Creator: CorelDRAW 2019 (64-Bit) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="4.2788mm"
              height="3.8137mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 24.78 22.08"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .str0 {
                    stroke: black;
                    stroke-width: 0.5;
                    stroke-miterlimit: 22.9256;
                  }
                  .fil0 {
                    fill: black;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <g id="_2459060272800">
                  <g>
                    <g>
                      <path
                        class="fil0 str0"
                        d="M11.27 21.36c0.3,0.3 0.71,0.47 1.13,0.47 0.42,0 0.84,-0.17 1.13,-0.47l8.9 -8.9c1.35,-1.35 2.09,-3.15 2.1,-5.05 0,-1.91 -0.74,-3.71 -2.09,-5.06 -1.35,-1.35 -3.14,-2.09 -5.05,-2.09 -1.88,0 -3.64,0.72 -4.98,2.02 -1.35,-1.31 -3.12,-2.03 -5,-2.03 -1.91,0 -3.7,0.74 -5.05,2.09 -1.35,1.35 -2.09,3.15 -2.09,5.06 0,1.91 0.75,3.7 2.1,5.05l8.91 8.91zm-8.06 -18.16c1.12,-1.12 2.61,-1.74 4.19,-1.74 1.58,0 3.08,0.62 4.2,1.74l0.37 0.37c0.11,0.11 0.27,0.18 0.43,0.18l0 0c0.16,0 0.32,-0.06 0.43,-0.18l0.36 -0.36c1.12,-1.12 2.61,-1.74 4.2,-1.74 1.58,0 3.07,0.62 4.19,1.74 1.12,1.12 1.74,2.61 1.74,4.2 0,1.58 -0.62,3.07 -1.74,4.2l-8.9 8.9c-0.14,0.14 -0.41,0.14 -0.55,0l-8.91 -8.91c-1.12,-1.12 -1.74,-2.61 -1.74,-4.2 0,-1.58 0.62,-3.07 1.74,-4.2z"
                      />
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </g>
              </g>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="header__notification_badge"> 3 </span>
            <?xml version="1.0" encoding="UTF-8"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <!-- Creator: CorelDRAW 2019 (64-Bit) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="4.2264mm"
              height="4.0918mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 27.77 26.88"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: black;
                    fill-rule: nonzero;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <path
                  class="fil0"
                  d="M12.41 6.69l1.39 0 11.46 0 -2.95 8.99 -12.48 0 -4.96 -15.68 -2.5 0 -0.95 0 -0.51 0c-0.5,0 -0.91,0.41 -0.91,0.91l0 0c0,0.5 0.41,0.91 0.91,0.91l0.51 0 0.95 0 1.17 0 4.96 15.68 15.13 0 4.14 -12.63 -13.97 0 -1.39 0 -0.08 0c-0.5,0 -0.91,0.41 -0.91,0.91l0 0c0,0.5 0.41,0.91 0.91,0.91l0.08 0zm-0.88 12.32c-1.09,0 -2.07,0.44 -2.78,1.15 -0.71,0.71 -1.15,1.7 -1.15,2.78 0,1.09 0.44,2.07 1.15,2.78 0.71,0.71 1.7,1.15 2.78,1.15 1.09,0 2.07,-0.44 2.78,-1.15 0.71,-0.71 1.15,-1.7 1.15,-2.78 0,-1.09 -0.44,-2.07 -1.15,-2.78 -0.71,-0.71 -1.7,-1.15 -2.78,-1.15zm-1.56 2.38c0.4,-0.4 0.95,-0.64 1.56,-0.64 0.61,0 1.16,0.25 1.56,0.64 0.4,0.4 0.65,0.95 0.65,1.56 0,0.61 -0.25,1.16 -0.65,1.56 -0.4,0.4 -0.95,0.64 -1.56,0.64 -0.61,0 -1.16,-0.25 -1.56,-0.64 -0.4,-0.4 -0.64,-0.95 -0.64,-1.56 0,-0.61 0.25,-1.16 0.64,-1.56zm10.72 -2.38c-1.09,0 -2.07,0.44 -2.78,1.15 -0.71,0.71 -1.15,1.7 -1.15,2.78 0,1.09 0.44,2.07 1.15,2.78 0.71,0.71 1.7,1.15 2.78,1.15 1.09,0 2.07,-0.44 2.78,-1.15 0.71,-0.71 1.15,-1.7 1.15,-2.78 0,-1.09 -0.44,-2.07 -1.15,-2.78 -0.71,-0.71 -1.7,-1.15 -2.78,-1.15zm-1.56 2.38c0.4,-0.4 0.95,-0.64 1.56,-0.64 0.61,0 1.16,0.25 1.56,0.64 0.4,0.4 0.64,0.95 0.64,1.56 0,0.61 -0.25,1.16 -0.64,1.56 -0.4,0.4 -0.95,0.64 -1.56,0.64 -0.61,0 -1.16,-0.25 -1.56,-0.64 -0.4,-0.4 -0.64,-0.95 -0.64,-1.56 0,-0.61 0.25,-1.16 0.64,-1.56z"
                />
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="left-sidebar">
      <div class="catalogue-menu">
        <ul>
            {% recursetree categories %}
                <li class="cat-item">
                    <a href="{{ node.get_absolute_url }}"><span class="cat-item__icon"><img src="{% static '/img/icons/01.png' %}" alt=""/></span>{{ node.title }}</a>
                    <div class="catalogue-menu__child-items">
                      <div class="catalogue-menu__child-items__wrapper">
                        <div class="catalogue-menu__item">
                            {% if not node.is_leaf_node %}
                          <a href=""></a>
                          <ul>
                            <li>
                              <a href="#">{{ children }}</a>
                            </li>
                          </ul>
                            {% endif %}
                        </div>
                      </div>
                      <div class="all-cats">
                        <a href="#" class="all-catigories">Все категории</a>
                      </div>
                    </div>
                </li>
            {% endrecursetree %}
        </ul>
      </div>
    </div>
    </div>
    </header></div>
        <div class="sidebar-wrapper">
  <aside class="main-sidebar">
    <div class="main-sidebar__header">
      <a class="main-sidebar__logo">
        <img src="{% static '/img/mainLogo.png' %}" alt="main logo" />
      </a>
      <div class="main-sidebar__lang">
        <ul class="header__lang">
          <li><a href="#" class="active-lang"> Русский </a></li>
          <li><a href="#"> Узбекча </a></li>
        </ul>
      </div>
      <div class="main-sidebar__close">
        <svg viewBox="0 0 16 16" id="icon-close-modal">
          <path
            class="st0"
            d="M9.4,8l6.3-6.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L8,6.6L1.7,0.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L6.6,8  l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C0.5,15.9,0.7,16,1,16s0.5-0.1,0.7-0.3L8,9.4l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3  c0.4-0.4,0.4-1,0-1.4L9.4,8z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="main-sidebar__catalog">
      <a href="#" class="katalog1"> Каталог товаров </a>
      <ul>
          {% recursetree categories %}
            <li>
                <a href="{{ node.get_absolute_url }}" class="katalog2">{{ node.title }}</a>
              <div class="main-sidebar__catalog-childs1">
                <div class="catalogue-menu__child-items__wrapper">
                  <div class="catalogue-menu__item">
                    <a href="#" class="katalog3">Инструменты</a>
                      {% if not node.is_leaf_node %}
                    <ul>
                      <li>
                        <a href="#">{{ children }}</a>
                      </li>
                    </ul>
                      {% endif %}
                  </div>
                </div>
                <div class="all-cats">
                  <a href="#" class="all-catigories">Все категории</a>
                </div>
              </div>
            </li>
          {% endrecursetree %}
      </ul>
    </div>
    <div class="main-sidebar__basket">
      <ul>
        <li>
          <div class="basket-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="3.5578mm"
              height="4.1826mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 61.29 72.05"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: #7b93b0;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_2460941758736">
                  <g id="_2811641771952">
                    <g>
                      <g>
                        <path
                          class="fil0"
                          d="M30.39 38.82c0.07,0 0.15,0 0.24,0 0.03,0 0.06,0 0.09,0 0.04,0 0.11,0 0.15,0 4.37,-0.07 7.91,-1.61 10.52,-4.55 5.75,-6.48 4.79,-17.58 4.69,-18.64 -0.37,-7.95 -4.13,-11.76 -7.24,-13.53 -2.31,-1.33 -5.01,-2.04 -8.03,-2.1l-0.11 0c-0.01,0 -0.04,0 -0.06,0l-0.09 0c-1.66,0 -4.91,0.27 -8.03,2.04 -3.13,1.78 -6.95,5.58 -7.33,13.59 -0.11,1.06 -1.06,12.16 4.69,18.64 2.6,2.94 6.13,4.48 10.51,4.55zm-11.21 -22.82c0,-0.04 0.01,-0.09 0.01,-0.12 0.49,-10.7 8.09,-11.85 11.34,-11.85l0.06 0c0.03,0 0.07,0 0.12,0 4.03,0.09 10.88,1.73 11.34,11.85 0,0.04 0,0.09 0.01,0.12 0.02,0.11 1.06,10.25 -3.68,15.59 -1.88,2.12 -4.39,3.16 -7.68,3.19 -0.03,0 -0.04,0 -0.07,0l0 0c-0.03,0 -0.04,0 -0.07,0 -3.28,-0.03 -5.81,-1.07 -7.67,-3.19 -4.73,-5.31 -3.72,-15.5 -3.7,-15.59z"
                        ></path>
                        <path
                          class="fil0"
                          d="M61.29 57.24c0,-0.01 0,-0.03 0,-0.04 0,-0.12 -0.01,-0.24 -0.01,-0.37 -0.09,-2.95 -0.28,-9.86 -6.76,-12.07 -0.04,-0.02 -0.11,-0.03 -0.15,-0.05 -6.73,-1.72 -12.32,-5.6 -12.38,-5.64 -0.91,-0.64 -2.16,-0.42 -2.8,0.49 -0.64,0.91 -0.42,2.16 0.49,2.81 0.25,0.18 6.19,4.31 13.62,6.22 3.48,1.24 3.86,4.95 3.97,8.36 0,0.13 0,0.25 0.01,0.37 0.02,1.34 -0.07,3.42 -0.31,4.61 -2.42,1.37 -11.89,6.12 -26.31,6.12 -14.35,0 -23.89,-4.76 -26.32,-6.13 -0.24,-1.19 -0.34,-3.27 -0.31,-4.61 0,-0.12 0.01,-0.24 0.01,-0.37 0.11,-3.4 0.49,-7.12 3.97,-8.36 7.43,-1.91 13.37,-6.06 13.62,-6.22 0.91,-0.64 1.13,-1.89 0.49,-2.8 -0.64,-0.91 -1.89,-1.14 -2.8,-0.49 -0.06,0.04 -5.63,3.92 -12.38,5.64 -0.06,0.01 -0.11,0.03 -0.15,0.04 -6.48,2.22 -6.67,9.13 -6.76,12.07 0,0.13 0,0.25 -0.02,0.37 0,0.02 0,0.03 0,0.05 -0.02,0.78 -0.03,4.76 0.76,6.76 0.15,0.39 0.42,0.72 0.78,0.94 0.45,0.3 11.18,7.13 29.13,7.13 17.95,0 28.68,-6.85 29.13,-7.13 0.34,-0.22 0.63,-0.55 0.78,-0.94 0.75,-1.98 0.73,-5.97 0.71,-6.74z"
                        ></path>
                      </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <a href="#">Личный кабинет</a>
        </li>
        <li>
          <div class="basket-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="4.2264mm"
              height="4.0918mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 27.77 26.88"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: black;
                    fill-rule: nonzero;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  class="fil0"
                  d="M12.41 6.69l1.39 0 11.46 0 -2.95 8.99 -12.48 0 -4.96 -15.68 -2.5 0 -0.95 0 -0.51 0c-0.5,0 -0.91,0.41 -0.91,0.91l0 0c0,0.5 0.41,0.91 0.91,0.91l0.51 0 0.95 0 1.17 0 4.96 15.68 15.13 0 4.14 -12.63 -13.97 0 -1.39 0 -0.08 0c-0.5,0 -0.91,0.41 -0.91,0.91l0 0c0,0.5 0.41,0.91 0.91,0.91l0.08 0zm-0.88 12.32c-1.09,0 -2.07,0.44 -2.78,1.15 -0.71,0.71 -1.15,1.7 -1.15,2.78 0,1.09 0.44,2.07 1.15,2.78 0.71,0.71 1.7,1.15 2.78,1.15 1.09,0 2.07,-0.44 2.78,-1.15 0.71,-0.71 1.15,-1.7 1.15,-2.78 0,-1.09 -0.44,-2.07 -1.15,-2.78 -0.71,-0.71 -1.7,-1.15 -2.78,-1.15zm-1.56 2.38c0.4,-0.4 0.95,-0.64 1.56,-0.64 0.61,0 1.16,0.25 1.56,0.64 0.4,0.4 0.65,0.95 0.65,1.56 0,0.61 -0.25,1.16 -0.65,1.56 -0.4,0.4 -0.95,0.64 -1.56,0.64 -0.61,0 -1.16,-0.25 -1.56,-0.64 -0.4,-0.4 -0.64,-0.95 -0.64,-1.56 0,-0.61 0.25,-1.16 0.64,-1.56zm10.72 -2.38c-1.09,0 -2.07,0.44 -2.78,1.15 -0.71,0.71 -1.15,1.7 -1.15,2.78 0,1.09 0.44,2.07 1.15,2.78 0.71,0.71 1.7,1.15 2.78,1.15 1.09,0 2.07,-0.44 2.78,-1.15 0.71,-0.71 1.15,-1.7 1.15,-2.78 0,-1.09 -0.44,-2.07 -1.15,-2.78 -0.71,-0.71 -1.7,-1.15 -2.78,-1.15zm-1.56 2.38c0.4,-0.4 0.95,-0.64 1.56,-0.64 0.61,0 1.16,0.25 1.56,0.64 0.4,0.4 0.64,0.95 0.64,1.56 0,0.61 -0.25,1.16 -0.64,1.56 -0.4,0.4 -0.95,0.64 -1.56,0.64 -0.61,0 -1.16,-0.25 -1.56,-0.64 -0.4,-0.4 -0.64,-0.95 -0.64,-1.56 0,-0.61 0.25,-1.16 0.64,-1.56z"
                ></path>
              </g>
            </svg>
          </div>
          <a href="#"> Корзина </a>
        </li>
        <li>
          <div class="basket-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="4.2788mm"
              height="3.8137mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 24.78 22.08"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .str0 {
                    stroke: black;
                    stroke-width: 0.5;
                    stroke-miterlimit: 22.9256;
                  }
                  .fil0 {
                    fill: black;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_2459060272800">
                  <g>
                    <g>
                      <path
                        class="fil0 str0"
                        d="M11.27 21.36c0.3,0.3 0.71,0.47 1.13,0.47 0.42,0 0.84,-0.17 1.13,-0.47l8.9 -8.9c1.35,-1.35 2.09,-3.15 2.1,-5.05 0,-1.91 -0.74,-3.71 -2.09,-5.06 -1.35,-1.35 -3.14,-2.09 -5.05,-2.09 -1.88,0 -3.64,0.72 -4.98,2.02 -1.35,-1.31 -3.12,-2.03 -5,-2.03 -1.91,0 -3.7,0.74 -5.05,2.09 -1.35,1.35 -2.09,3.15 -2.09,5.06 0,1.91 0.75,3.7 2.1,5.05l8.91 8.91zm-8.06 -18.16c1.12,-1.12 2.61,-1.74 4.19,-1.74 1.58,0 3.08,0.62 4.2,1.74l0.37 0.37c0.11,0.11 0.27,0.18 0.43,0.18l0 0c0.16,0 0.32,-0.06 0.43,-0.18l0.36 -0.36c1.12,-1.12 2.61,-1.74 4.2,-1.74 1.58,0 3.07,0.62 4.19,1.74 1.12,1.12 1.74,2.61 1.74,4.2 0,1.58 -0.62,3.07 -1.74,4.2l-8.9 8.9c-0.14,0.14 -0.41,0.14 -0.55,0l-8.91 -8.91c-1.12,-1.12 -1.74,-2.61 -1.74,-4.2 0,-1.58 0.62,-3.07 1.74,-4.2z"
                      ></path>
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </g>
              </g>
            </svg>
          </div>
          <a href="#"> Желания </a>
        </li>
        <li>
          <div class="basket-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="6.009mm"
              height="4.2269mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 69.67 49.01"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: black;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <g id="_2459096747952">
                  <path
                    class="fil0"
                    d="M14.89 49.01c-8.21,0 -14.89,-6.68 -14.89,-14.89 0,-3.3 1.94,-8.32 6.11,-15.79 2.85,-5.1 5.68,-9.41 5.8,-9.59l2.05 -3.1c0.21,-0.31 0.56,-0.5 0.93,-0.5 0.37,0 0.72,0.19 0.93,0.5l2.05 3.1c0.12,0.18 2.93,4.45 5.8,9.59 4.17,7.48 6.11,12.49 6.11,15.79 0,8.21 -6.68,14.89 -14.89,14.89zm6.24 -28.93c-2.58,-4.63 -5.11,-8.46 -5.22,-8.63l-1.02 -1.54 -1.02 1.54c-0.11,0.16 -2.65,4.03 -5.22,8.63 -3.53,6.33 -5.32,10.85 -5.32,13.43 0,6.37 5.18,11.56 11.56,11.56 6.37,0 11.56,-5.18 11.56,-11.56 0,-2.58 -1.79,-7.09 -5.32,-13.43z"
                  ></path>
                  <path
                    class="fil0"
                    d="M54.78 49.01c-8.21,0 -14.89,-6.68 -14.89,-14.89 0,-3.3 1.94,-8.32 6.11,-15.79 2.85,-5.1 5.68,-9.41 5.8,-9.59l2.05 -3.1c0.21,-0.31 0.56,-0.5 0.93,-0.5 0.37,0 0.72,0.19 0.93,0.5l2.05 3.1c0.12,0.18 2.93,4.45 5.8,9.59 4.17,7.48 6.11,12.49 6.11,15.79 0,8.21 -6.68,14.89 -14.89,14.89zm6.23 -28.93c-2.58,-4.63 -5.11,-8.46 -5.22,-8.63l-1.02 -1.54 -1.02 1.54c-0.11,0.16 -2.65,4.03 -5.22,8.63 -3.53,6.33 -5.32,10.85 -5.32,13.43 0,6.37 5.19,11.56 11.56,11.56 6.37,0 11.56,-5.18 11.56,-11.56 0,-2.58 -1.79,-7.09 -5.32,-13.43z"
                  ></path>
                  <path
                    class="fil0"
                    d="M21.51 4.37l7.48 0c0.68,-2.51 2.98,-4.37 5.7,-4.37 2.73,0 5.03,1.85 5.7,4.37l7.48 0c0.84,0 1.53,0.69 1.53,1.53l0 0c0,0.84 -0.69,1.53 -1.53,1.53l-7.48 0c-0.68,2.51 -2.98,4.37 -5.7,4.37 -2.72,0 -5.02,-1.86 -5.7,-4.37l-7.48 0c-0.84,0 -1.53,-0.69 -1.53,-1.53l0 0c0,-0.84 0.69,-1.53 1.53,-1.53zm13.18 -0.43c1.09,0 1.97,0.88 1.97,1.97 0,1.09 -0.88,1.97 -1.97,1.97 -1.08,0 -1.97,-0.88 -1.97,-1.97 0,-1.08 0.88,-1.97 1.97,-1.97z"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <a href="#">Сравнение</a>
        </li>
      </ul>
    </div>
    <div class="main-sidebar__menu">
      <ul>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Помощь</a></li>
      </ul>
    </div>
    <div class="main-sidebar__city">
      <span> Город: </span>
      <a href="#">Ташкент</a>
    </div>
  </aside>
</div>
    {% block content %}
    {% endblock content %}
    <footer>
    <div class="footer-first-container">
    <div class="container">
      <div class="f-menu">
        <span class="f-menu__title">Информация о компании</span>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Сервисный центр</a></li>
          <li><a href="#">Публичная оферта</a></li>
          <li><a href="#">Условия использования сайта</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="f-menu">
        <span class="f-menu__title">Помощь</span>
        <ul>
          <li><a href="#">Вопросы и ответы</a></li>
          <li><a href="#">Кредит</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Гарантия</a></li>
          <li><a href="#">Возврат и обмен</a></li>
        </ul>
      </div>
      <div class="f-menu">
        <span class="f-menu__title">Важно</span>
        <ul>
          <li><a href="#">portal</a></li>
          <li><a href="#">premium</a></li>
          <li><a href="#">Скидки и акции</a></li>
          <li><a href="#">Бонусная программа</a></li>
        </ul>
      </div>
      <div class="f-last">
        <div class="f-socials">
          <ul>
            <li class="tg">
              <a href="#"
                ><?xml version="1.0" encoding="UTF-8"?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <!-- Creator: CorelDRAW 2019 (64-Bit) -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  width="4.7608mm"
                  height="4.8363mm"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 133.3 135.42"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <style type="text/css">
                      .fil0 {
                        fill: black;
                        fill-rule: nonzero;
                      }
                    </style>
                  </defs>
                  <g id="Слой_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer" />
                    <path
                      class="fil0"
                      d="M18.36 58.22c4.99,2.33 9.41,4.16 13.3,5.76 15.79,6.52 23.84,9.85 34.34,29.57l9.58 21.13c4.54,10.03 7.48,12.59 11.45,1.28l30.54 -87.02c7.52,-21.41 6.86,-20.38 -13.61,-12.9l-82.74 30.23c-9.55,3.48 -13.35,7.03 -2.86,11.93zm8.81 16.69c-3.97,-1.64 -8.47,-3.5 -13.81,-5.99 -4.86,-2.27 -8.23,-4.86 -10.35,-7.59 -2.45,-3.17 -3.32,-6.51 -2.91,-9.84l0.02 -0.03c0.39,-3.13 1.93,-6.01 4.34,-8.55 2.96,-3.11 7.42,-5.8 12.73,-7.74l82.74 -30.23c15.4,-5.63 24.8,-6.77 29.95,-1.76 5.2,5.04 4.2,14.37 -1.16,29.66l-30.54 87.02c-1.9,5.43 -4.25,9.29 -6.85,11.76 -2.76,2.62 -5.84,3.83 -9.08,3.79 -3.08,-0.04 -6.03,-1.25 -8.74,-3.47 -3.23,-2.65 -6.24,-6.92 -8.72,-12.39l-9.29 -20.5c-8.5,-15.95 -15.2,-18.72 -28.33,-24.14z"
                    />
                  </g>
                </svg>
              </a>
            </li>
            <li class="yt">
              <a href="#"
                ><?xml version="1.0" encoding="UTF-8"?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <!-- Creator: CorelDRAW 2019 (64-Bit) -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  width="5.5398mm"
                  height="4.196mm"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 78.55 59.49"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <style type="text/css">
                      <![CDATA[
                       .fil0 {fill:black}
                      ]]>
                    </style>
                  </defs>
                  <g id="Слой_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer" />
                    <g id="_2459093703328">
                      <path
                        class="fil0"
                        d="M51.36 26.23l-17.35 -9.5c-1,-0.55 -2.18,-0.53 -3.15,0.05 -0.98,0.58 -1.56,1.61 -1.56,2.74l0 18.83c0,1.13 0.58,2.16 1.55,2.74 0.51,0.3 1.07,0.46 1.63,0.46 0.52,0 1.04,-0.13 1.51,-0.38l17.35 -9.33c1.03,-0.55 1.67,-1.63 1.68,-2.8 0,-1.17 -0.63,-2.25 -1.66,-2.81l0 0zm-17.47 9.76l0 -14.07 12.97 7.1 -12.97 6.97zm0 0z"
                      />
                      <path
                        class="fil0"
                        d="M77.97 14.04l-0 -0.04c-0.07,-0.63 -0.73,-6.26 -3.46,-9.12 -3.16,-3.36 -6.74,-3.77 -8.47,-3.97 -0.14,-0.02 -0.27,-0.03 -0.39,-0.05l-0.14 -0.01c-10.38,-0.76 -26.07,-0.86 -26.22,-0.86l-0.01 0 -0.01 0c-0.16,0 -15.84,0.1 -26.32,0.86l-0.14 0.01c-0.11,0.01 -0.23,0.03 -0.37,0.04 -1.7,0.2 -5.25,0.61 -8.41,4.09 -2.6,2.83 -3.36,8.33 -3.43,8.95l-0.01 0.08c-0.02,0.26 -0.58,6.52 -0.58,12.81l0 5.88c0,6.29 0.55,12.55 0.58,12.81l0 0.04c0.07,0.62 0.73,6.14 3.45,9 2.97,3.25 6.73,3.68 8.75,3.91 0.32,0.04 0.59,0.07 0.78,0.1l0.18 0.02c6,0.57 24.79,0.85 25.59,0.86l0.02 0 0.02 0c0.16,0 15.84,-0.1 26.22,-0.86l0.14 -0.01c0.13,-0.02 0.28,-0.03 0.44,-0.05 1.69,-0.18 5.22,-0.55 8.34,-3.99 2.6,-2.83 3.36,-8.33 3.43,-8.95l0.01 -0.08c0.02,-0.26 0.58,-6.52 0.58,-12.81l0 -5.88c0,-6.29 -0.55,-12.55 -0.58,-12.81l0 0zm-4.03 18.69c0,5.82 -0.51,11.81 -0.56,12.36 -0.2,1.52 -0.99,5 -2.26,6.38 -1.96,2.15 -3.97,2.37 -5.43,2.52 -0.18,0.02 -0.34,0.04 -0.49,0.06 -10.04,0.73 -25.13,0.84 -25.83,0.84 -0.78,-0.01 -19.3,-0.29 -25.12,-0.84 -0.3,-0.05 -0.62,-0.09 -0.96,-0.12 -1.72,-0.2 -4.07,-0.47 -5.89,-2.46l-0.04 -0.05c-1.25,-1.3 -2.02,-4.55 -2.21,-6.31 -0.04,-0.42 -0.56,-6.48 -0.56,-12.38l0 -5.88c0,-5.81 0.51,-11.8 0.56,-12.36 0.23,-1.79 1.04,-5.06 2.26,-6.38 2.02,-2.22 4.14,-2.46 5.55,-2.62 0.13,-0.02 0.26,-0.03 0.37,-0.05 10.19,-0.73 25.39,-0.84 25.93,-0.84 0.54,0 15.74,0.11 25.84,0.84 0.12,0.02 0.26,0.03 0.41,0.05 1.44,0.16 3.63,0.41 5.64,2.55l0.02 0.02c1.25,1.3 2.02,4.61 2.21,6.4 0.03,0.39 0.56,6.47 0.56,12.38l0 5.88zm0 0z"
                      />
                    </g>
                  </g></svg
              ></a>
            </li>
            <li class="ig">
              <a href="#"
                ><?xml version="1.0" encoding="UTF-8"?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <!-- Creator: CorelDRAW 2019 (64-Bit) -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  width="4.213mm"
                  height="4.213mm"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 49.34 49.34"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <style type="text/css">
                      <![CDATA[
                       .fil0 {fill:black}
                      ]]>
                    </style>
                  </defs>
                  <g id="Слой_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer" />
                    <g id="_2459003840272">
                      <g>
                        <g>
                          <path
                            class="fil0"
                            d="M33.92 0l-18.5 0c-8.51,0 -15.42,6.91 -15.42,15.42l0 18.5c0,8.51 6.91,15.42 15.42,15.42l18.5 0c8.51,0 15.42,-6.91 15.42,-15.42l0 -18.5c0,-8.51 -6.91,-15.42 -15.42,-15.42zm10.79 33.92c0,5.95 -4.84,10.79 -10.79,10.79l-18.5 0c-5.95,0 -10.79,-4.84 -10.79,-10.79l0 -18.5c0,-5.95 4.84,-10.79 10.79,-10.79l18.5 0c5.95,0 10.79,4.84 10.79,10.79l0 18.5z"
                          />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            class="fil0"
                            d="M24.67 12.34c-6.81,0 -12.34,5.52 -12.34,12.34 0,6.81 5.52,12.34 12.34,12.34 6.81,0 12.34,-5.52 12.34,-12.34 0,-6.81 -5.52,-12.34 -12.34,-12.34zm0 20.05c-4.25,0 -7.71,-3.46 -7.71,-7.71 0,-4.25 3.46,-7.71 7.71,-7.71 4.25,0 7.71,3.46 7.71,7.71 0,4.25 -3.46,7.71 -7.71,7.71z"
                          />
                        </g>
                      </g>
                      <g>
                        <g>
                          <circle class="fil0" cx="37.93" cy="11.41" r="1.64" />
                        </g>
                      </g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                    </g>
                  </g></svg
              ></a>
            </li>
            <li class="fb">
              <a href="#">
                <?xml version="1.0" encoding="UTF-8"?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <!-- Creator: CorelDRAW 2019 (64-Bit) -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  width="1.7523mm"
                  height="4.0052mm"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 5.83 13.33"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <style type="text/css">
                      .fil0 {
                        fill: black;
                      }
                    </style>
                  </defs>
                  <g id="Слой_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer" />
                    <path
                      class="fil0"
                      d="M4.16 4.58l0 -0.55 0 -1.12c0,-0.46 0.37,-0.83 0.83,-0.83l0.83 0 0 -2.08 -1.67 0c-1.38,0 -2.5,1.12 -2.5,2.5l0 2.08 -1.67 0 0 2.08 1.67 0 0 6.66 2.5 0 0 -6.26 0 -0.41 1.67 0 0 -2.08 -1.67 0z"
                    />
                  </g>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="made-by">
          <a href="#">
            <?xml version="1.0" encoding="UTF-8"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <!-- Creator: CorelDRAW 2019 (64-Bit) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="10.2029mm"
              height="6.162mm"
              version="1.1"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 166.11 100.32"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <style type="text/css">
                  .fil0 {
                    fill: black;
                  }
                  .fil1 {
                    fill: black;
                    fill-rule: nonzero;
                  }
                </style>
              </defs>
              <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <g id="_2459235836704">
                  <path
                    class="fil0"
                    d="M37.37 48.76c0.88,0 1.73,0.15 2.52,0.42l9.42 -14.44c0.5,-0.75 0.89,-1.34 1.4,-2.09l1.15 -1.76c-1.25,-1.36 -2.01,-3.17 -2.01,-5.15 0,-4.22 3.44,-7.64 7.68,-7.64 4.24,0 7.68,3.42 7.68,7.64 0,1.92 -0.72,3.68 -1.9,5.02 4.09,6.06 8.89,13.35 9.53,14.31l1.54 2.26c1.16,-0.48 2.44,-0.75 3.78,-0.75 0.8,0 1.59,0.1 2.33,0.28 0.7,-1.45 1.35,-2.76 1.62,-3.37 0.47,-1.06 0.79,-1.8 1.33,-2.85 0.54,-1.07 0.85,-1.94 1.4,-3.02l6.99 -14.83c0.28,-0.6 1.18,-2.62 2.31,-5.1 -2.42,-1.79 -4,-4.65 -4,-7.88 0,-5.42 4.42,-9.81 9.87,-9.81 5.45,0 9.87,4.39 9.87,9.81 0,3.43 -1.77,6.45 -4.45,8.2 0.79,1.95 6.32,15.76 10.54,26.14 0.96,-0.23 1.96,-0.35 2.99,-0.35 7,0 12.68,5.64 12.68,12.6 0,6.96 -5.68,12.6 -12.68,12.6 -7,0 -12.68,-5.64 -12.68,-12.6 0,-4.59 2.46,-8.6 6.15,-10.8l-3.87 -9.61c-0.39,-0.98 -4.37,-10.57 -6.74,-16.53 -0.59,0.11 -1.19,0.16 -1.81,0.16 -0.79,0 -1.57,-0.09 -2.31,-0.27l-5.8 12.33c-0.5,1.01 -0.84,1.7 -1.34,2.84l-6.52 14c2.41,1.79 3.98,4.65 3.98,7.87 0,5.42 -4.42,9.81 -9.87,9.81 -5.45,0 -9.87,-4.39 -9.87,-9.81 0,-2.71 1.11,-5.17 2.9,-6.94 -0.23,-0.35 -0.42,-0.63 -0.54,-0.81 -0.47,-0.7 -0.83,-1.24 -1.3,-1.95l-9.28 -13.74c-0.8,0.28 -1.65,0.43 -2.55,0.43 -0.86,0 -1.68,-0.14 -2.45,-0.4 -3.12,4.62 -8.4,12.66 -12.05,18.25 1.26,1.36 2.03,3.17 2.03,5.17 0,4.22 -3.44,7.64 -7.68,7.64 -4.24,0 -7.68,-3.42 -7.68,-7.64 0,-4.22 3.44,-7.64 7.68,-7.64zm83.72 -27.75c2.78,0 5.04,2.24 5.04,5.01 0,2.77 -2.26,5.01 -5.04,5.01 -2.78,0 -5.04,-2.24 -5.04,-5.01 0,-2.77 2.25,-5.01 5.04,-5.01zm-63.62 23.17c2.78,0 5.04,2.24 5.04,5.01 0,2.77 -2.25,5.01 -5.04,5.01 -2.78,0 -5.04,-2.24 -5.04,-5.01 0,-2.77 2.26,-5.01 5.04,-5.01zm40.8 -8.69c2.78,0 5.04,2.24 5.04,5.01 0,2.77 -2.25,5.01 -5.04,5.01 -2.78,0 -5.04,-2.24 -5.04,-5.01 0,-2.77 2.26,-5.01 5.04,-5.01zm-19.43 -10.86c2.78,0 5.04,2.24 5.04,5.01 0,2.77 -2.26,5.01 -5.04,5.01 -2.78,0 -5.04,-2.24 -5.04,-5.01 0,-2.77 2.25,-5.01 5.04,-5.01zm-40.8 6.52c2.78,0 5.04,2.24 5.04,5.01 0,2.77 -2.26,5.01 -5.04,5.01 -2.78,0 -5.04,-2.24 -5.04,-5.01 0,-2.77 2.25,-5.01 5.04,-5.01z"
                  />
                  <path
                    class="fil1"
                    d="M16.86 84.79l0 1.41 0 13.93 -3.54 0 0 -13.89c0,-1.05 -0.29,-1.88 -0.89,-2.51 -0.59,-0.62 -1.33,-0.94 -2.23,-0.94 -0.9,0 -1.72,0.09 -2.46,0.27 -0.74,0.18 -1.37,0.38 -1.87,0.59 -0.5,0.22 -1.28,0.61 -2.33,1.17l0 15.3 -3.54 0 0 -20.32 2.66 0 0.89 2.37c0.15,-0.08 0.37,-0.21 0.65,-0.38 0.28,-0.18 0.49,-0.31 0.64,-0.4 0.14,-0.09 0.35,-0.21 0.62,-0.36 0.27,-0.15 0.49,-0.27 0.65,-0.35 0.17,-0.08 0.38,-0.18 0.63,-0.31 0.26,-0.13 0.49,-0.22 0.69,-0.29 0.21,-0.06 0.44,-0.13 0.69,-0.21 0.26,-0.08 0.51,-0.14 0.77,-0.19 0.59,-0.08 1.22,-0.11 1.9,-0.11 0.68,0 1.39,0.1 2.14,0.31 1.54,0.48 2.6,1.34 3.19,2.56 2.41,-1.91 5.08,-2.87 8.01,-2.87 1.87,0 3.38,0.62 4.52,1.85 1.14,1.24 1.71,2.85 1.71,4.84l0 13.85 -3.54 0 0 -13.89c0,-1.43 -0.5,-2.44 -1.5,-3.02 -0.46,-0.28 -1.21,-0.42 -2.23,-0.42 -2.21,0 -4.29,0.66 -6.24,1.99zm17.09 -8.19l0 -2.41c0,-0.66 0.31,-0.99 0.92,-0.99l2.5 0c0.28,0 0.5,0.1 0.65,0.29 0.15,0.19 0.23,0.43 0.23,0.71l0 2.41c0,0.59 -0.3,0.88 -0.89,0.88l-2.5 0c-0.28,0 -0.51,-0.08 -0.67,-0.25 -0.17,-0.17 -0.25,-0.38 -0.25,-0.63zm0.31 23.53l0 -20.32 3.54 0 0 20.32 -3.54 0zm13.89 -19.24c0.51,-0.28 1.21,-0.57 2.08,-0.86 0.87,-0.29 1.87,-0.44 3,-0.44 1.13,0 1.91,0.1 2.35,0.31l0 3.44c-0.67,-0.13 -1.66,-0.19 -2.96,-0.19 -1.31,0 -2.44,0.16 -3.41,0.48 -0.96,0.32 -2.12,0.9 -3.48,1.74l0 14.77 -3.54 0 0 -20.32 2.69 0 0.85 2.56c0.08,-0.05 0.37,-0.24 0.89,-0.57 0.51,-0.33 1.03,-0.64 1.54,-0.92zm9.2 9.37c0,-2.78 0.29,-4.93 0.89,-6.47 0.59,-1.53 1.53,-2.61 2.81,-3.23 1.28,-0.63 3.08,-0.94 5.39,-0.94 3.46,0 5.84,0.77 7.14,2.3 1.3,1.53 1.94,4.25 1.94,8.17 0,3.92 -0.65,6.6 -1.94,8.05 -1.3,1.45 -3.66,2.18 -7.1,2.18 -3.44,0 -5.82,-0.75 -7.14,-2.26 -1.32,-1.5 -1.98,-4.11 -1.98,-7.81zm4.1 -4.97c-0.22,0.56 -0.37,1.24 -0.44,2.05 -0.08,0.8 -0.12,1.75 -0.12,2.85 0,1.1 0.04,2.03 0.14,2.79 0.09,0.77 0.25,1.4 0.48,1.89 0.23,0.5 0.48,0.89 0.75,1.19 0.27,0.29 0.65,0.52 1.13,0.67 0.74,0.25 1.66,0.38 2.73,0.36 1.08,-0.01 1.87,-0.05 2.39,-0.12 0.51,-0.06 1.02,-0.22 1.52,-0.46 0.5,-0.24 0.88,-0.62 1.14,-1.13 0.54,-1.1 0.81,-2.81 0.81,-5.13 0,-2.35 -0.14,-3.9 -0.42,-4.65 -0.28,-0.75 -0.55,-1.29 -0.79,-1.61 -0.24,-0.32 -0.6,-0.57 -1.06,-0.75 -0.72,-0.28 -1.63,-0.42 -2.73,-0.42 -1.1,0 -1.89,0.03 -2.35,0.08 -0.46,0.05 -0.93,0.16 -1.41,0.33 -0.47,0.17 -0.83,0.41 -1.08,0.73 -0.24,0.32 -0.47,0.76 -0.69,1.32zm17.99 14.85l0 -20.32 2.66 0 0.89 2.33c0.08,-0.05 0.29,-0.18 0.63,-0.4 0.35,-0.22 0.57,-0.35 0.67,-0.4 0.1,-0.05 0.31,-0.17 0.63,-0.36 0.32,-0.19 0.55,-0.31 0.67,-0.36 0.13,-0.05 0.35,-0.15 0.65,-0.31 0.31,-0.15 0.55,-0.25 0.73,-0.31 0.18,-0.05 0.42,-0.12 0.71,-0.21 0.29,-0.09 0.57,-0.15 0.83,-0.17 0.67,-0.1 1.25,-0.15 1.73,-0.15 2,0 3.54,0.64 4.62,1.93 1.08,1.29 1.62,2.86 1.62,4.72l0 14 -3.54 0 0 -14c0,-1.68 -0.63,-2.75 -1.89,-3.21 -0.36,-0.15 -0.98,-0.23 -1.87,-0.23 -0.89,0 -1.76,0.15 -2.64,0.46 -0.87,0.31 -2.07,0.84 -3.58,1.61l0 15.38 -3.54 0zm25.31 -20.51c1.99,0 4.03,0.09 6.12,0.27 2.09,0.18 3.43,0.33 4.02,0.46l0 2.53 -9.81 0c-0.98,0 -1.59,0.15 -1.85,0.46 -0.26,0.31 -0.39,0.82 -0.39,1.53l0 1.53c0,0.92 0.22,1.48 0.65,1.68 0.36,0.18 0.89,0.27 1.58,0.27l5.74 0c1.13,0 2.09,0.23 2.89,0.69 1.49,0.84 2.23,2.3 2.23,4.36l0 1.91c0,3.34 -1.67,5.01 -5,5.01 -1.31,0 -3.26,-0.1 -5.85,-0.29 -2.59,-0.19 -4.23,-0.38 -4.93,-0.56l0 -2.45 10.32 0c1.28,0 1.92,-0.61 1.92,-1.84l0 -1.61c0,-0.84 -0.24,-1.4 -0.73,-1.68 -0.31,-0.15 -0.71,-0.23 -1.19,-0.23l-5.73 0c-1.87,0 -3.25,-0.38 -4.12,-1.13 -0.87,-0.75 -1.31,-2.08 -1.31,-4l0 -1.76c0,-1.66 0.41,-2.93 1.23,-3.83 0.82,-0.89 2.23,-1.34 4.21,-1.34zm14.41 10.64c0,-2.78 0.3,-4.93 0.89,-6.47 0.59,-1.53 1.53,-2.61 2.81,-3.23 1.28,-0.63 3.08,-0.94 5.39,-0.94 3.46,0 5.84,0.77 7.14,2.3 1.29,1.53 1.94,4.25 1.94,8.17 0,3.92 -0.65,6.6 -1.94,8.05 -1.3,1.45 -3.66,2.18 -7.1,2.18 -3.44,0 -5.82,-0.75 -7.14,-2.26 -1.32,-1.5 -1.98,-4.11 -1.98,-7.81zm4.1 -4.97c-0.22,0.56 -0.37,1.24 -0.44,2.05 -0.08,0.8 -0.12,1.75 -0.12,2.85 0,1.1 0.05,2.03 0.14,2.79 0.09,0.77 0.25,1.4 0.48,1.89 0.23,0.5 0.48,0.89 0.75,1.19 0.27,0.29 0.65,0.52 1.14,0.67 0.74,0.25 1.65,0.38 2.73,0.36 1.08,-0.01 1.87,-0.05 2.39,-0.12 0.51,-0.06 1.02,-0.22 1.52,-0.46 0.5,-0.24 0.88,-0.62 1.13,-1.13 0.54,-1.1 0.81,-2.81 0.81,-5.13 0,-2.35 -0.14,-3.9 -0.42,-4.65 -0.28,-0.75 -0.55,-1.29 -0.79,-1.61 -0.24,-0.32 -0.6,-0.57 -1.06,-0.75 -0.72,-0.28 -1.63,-0.42 -2.73,-0.42 -1.1,0 -1.89,0.03 -2.35,0.08 -0.46,0.05 -0.93,0.16 -1.41,0.33 -0.47,0.17 -0.83,0.41 -1.08,0.73 -0.24,0.32 -0.48,0.76 -0.69,1.32zm15.8 -2.3l0 -2.53 3.58 -0.65 0 -3.79c0,-1.27 0.09,-2.17 0.27,-2.68 0.18,-0.51 0.35,-0.92 0.52,-1.22 0.17,-0.31 0.39,-0.58 0.65,-0.82 0.27,-0.24 0.57,-0.47 0.91,-0.67 0.67,-0.38 1.71,-0.57 3.14,-0.57 1.42,0 3.06,0.31 4.91,0.92l0 2.22 -4.43 -0.04c-1.28,-0.03 -2.04,0.4 -2.27,1.26 -0.1,0.43 -0.15,1.08 -0.15,1.95l0 3.44 5.39 0 0 3.17 -5.39 0 0 17.14 -3.54 0 0 -17.14 -3.58 0zm21.48 -8.88l0 5.66 5.58 0 0 3.18 -5.58 0 0 9.68c0,1.5 0.17,2.55 0.52,3.14 0.35,0.59 0.87,0.97 1.56,1.15 1.95,0.54 3.02,0.8 3.19,0.8l0 2.37 -3.73 0c-3.39,0 -5.08,-2.41 -5.08,-7.23l0 -9.91 -3.66 0 0 -2.37 3.66 -0.8 0.77 -5.66 2.77 0z"
                  />
                </g>
              </g>
            </svg>
          </a>
          <div>
            <span>Сайт разработан и поддерживается</span>
            <a href="#" class="mironsoft"> MironSoft</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-second-container">
    <div class="container">
      <p>
        Интернет магазин <a href="#">«zon.uz»</a> 2016 - 2020. Все права
        защищены
      </p>
    </div>
    </div>
    </footer>

    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/slick.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static '/js/rateing.js' %}"></script>
</body>
</html>
