{% extends 'base.html' %}
{% load mptt_tags %}
{% load static %}

{% block content %}
    <div class="all-wrapper">
      <div class="main-slider-block">
        <div class="main-slider-block__container container">
          <div class="main-slider-block__sidebar">
            <div class="left-sidebar">
              <div class="catalogue-menu">
                <ul>
                    {% recursetree categories%}
                      <li class="cat-item">
                        <a href="#">
                          <span class="cat-item__icon">
                              <img src="{% if node.icon %}{{ node.icon.url }}{% endif %}" alt=""/>
                          </span>{{ node.title }}</a>
                      </li>
                    {% endrecursetree %}
                </ul>
              </div>
            </div>
          </div>

          <div class="main-slider-block__slider main-slider">
            <div class="main-slider__wrapper">
              <img src="{% static '/img/justBlue.jpg' %}" alt="" />

              <div class="main-slider__content">
                <p>Самые необходымые средство в пандемии</p>
                <h2>covid-19</h2>
                <span class="advice">берегите себя и близких</span>
              </div>
            </div>
            <div class="main-slider__wrapper">
              <img src="{% static '/img/justBlue.jpg' %}" alt="" />

              <div class="main-slider__content">
                <p>Самые необходымые средство в пандемии</p>
                <h2>covid-19</h2>
                <span class="advice">берегите себя и близких</span>
              </div>
            </div>
            <div class="main-slider__wrapper">
              <img src="{% static '/img/justBlue.jpg' %}" alt="" />

              <div class="main-slider__content">
                <p>Самые необходымые средство в пандемии</p>
                <h2>covid-19</h2>
                <span class="advice">берегите себя и близких</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="categories">
        <div class="categories__container container">
          <div class="categories__title">
            <h2>Категории</h2>
          </div>

          <div class="categories__items">
              {% for category in home_category %}
                <div class="categories__item">
              <a href="{{ category.get_absolute_url }}" class="categories__icon">
                <img src="{% if category.image %}{{ category.image.url }}{% endif %}" alt="category icon" />
              </a>
              <div class="categories__item-content">
                <a href="#">{{ category.title }}</a>
              </div>
            </div>
              {% endfor %}


          </div>
          <div class="categories__item-all">
            <a href="#" class="all-catigories">Все категории</a>
          </div>
        </div>
      </div>

      <div class="instruments">
        <div class="instruments__container container">
          <div class="instruments__title">
            <h2>Инструменты</h2>
          </div>
          <div class="instruments__items main-comp">
              {% for product in products %}
                <div class="main-comp__item">
              <span class="main-comp__item-label purple">{{ product.status }}</span>

              <a href="{% url 'product_detail' product.slug %}" class="main-comp__item-icon">
                <img src="{% if product.main_image %}{{ product.main_image.url }}{% endif %}" alt="main-comp" />
              </a>
              <div class="main-comp__item-content">
                <p>{{ product.name }}</p>
                <div class="main-comp__feedback">
                  <div class="main-comp__feedback-drop">
                    <div class="rating-stars" rate="4">
                      <div class="icon-main-comp">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star fa-w-18"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                          ></path>
                        </svg>
                      </div>
                      <div class="icon-main-comp">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star fa-w-18"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                          ></path>
                        </svg>
                      </div>
                      <div class="icon-main-comp">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star fa-w-18"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                          ></path>
                        </svg>
                      </div>
                      <div class="icon-main-comp">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star fa-w-18"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                          ></path>
                        </svg>
                      </div>
                      <div class="icon-main-comp">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star fa-w-18"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                          ></path>
                        </svg>
                      </div>
                      <span class="num-feedbacks">5 отзывов</span>
                    </div>
                  </div>
                </div>

                <div class="main-comp__item-sum">
                  <span class="old-sum">{{ product.old_price }}<span class="sum">сум</span></span>
                  <p class="current-sum">{{ product.current_price }}<span class="sum">сум</span></p>
                  <span class="sum-available">Есть в наличии </span>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
          <div class="categories__item-all">
            <a href="#">Смотреть все</a>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
