{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="all-wrapper">
      <div class="measureTech">
        <div class="measureTech__container container">
          <div class="measureTech__navigation navigation">
            <ul>
              <li>
                <a href="#"
                  ><img src="{% static '/img/navigationIcon.png' %}" alt="navigation icon"
                /></a>
              </li>
              <li>
                <a href="#">Инструменты </a>
              </li>
              <li>
                <a href="#">Измерительная техника </a>
              </li>
              <li>
                <a href="#">Измерительная техника </a>
              </li>
            </ul>
          </div>

          <div class="multimeters">
            <div class="multimeters__title">
              <h2>Мультиметры</h2>
              <div class="multimeters__title_select">
                <select>
                  <option>По рейтингу</option>
                  <option>По 1</option>
                  <option>По 2</option>
                </select>
              </div>
            </div>
            <form>
              <div class="filters">
                <span>Филтры:</span>
                <!--<span class="filters__reset">Сбросить</span>-->
                <input type="reset" class="filters__reset" value="Сбросить" />
                <span class="filters__middle"
                  ><span class="from"> </span>
                  ~
                  <span class="to"></span>
                  <img src="{% static '/img/filterClose.png' %}" alt=""
                /></span>
                <span class="filters__brand">
                  DeWalt <img src="{% static '/img/filterClose.png' %}" alt=""
                /></span>
              </div>
              <div class="multimeters__body">
                <a href="#" class="multimeters-sidebar-open-btn"> Фильтр </a>

                <div class="multimeters-sidebar-open">
                  <div class="filters hidden-filters">
                    <span>Филтры:</span>
                    <!--<span class="filters__reset">Сбросить</span>-->
                    <input
                      type="reset"
                      class="filters__reset"
                      value="Сбросить"
                    />
                    <span class="filters__middle"
                      ><span class="from"> </span>
                      ~
                      <span class="to"></span>
                      <img src="{% static '/img/filterClose.png' %}" alt=""
                    /></span>
                    <span class="filters__brand">
                      DeWalt <img src="{% static '/img/filterClose.png' %}" alt=""
                    /></span>
                  </div>
                  <div class="multimeters__title_select hidden-multi-select">
                    <select>
                      <option>По рейтингу</option>
                      <option>По 1</option>
                      <option>По 2</option>
                    </select>
                  </div>
                  <div class="multimeters__sidebar">
                    <div class="multimeters__sidebar-item range-item">
                      <div class="range-item__title">
                        <h2>Производитель</h2>
                        <img src="{% static '/img/selectIcon.png' %}" alt="" />
                      </div>
                      <div class="range-item__body">
                        <ul>
                          <li>
                            <input id="Bosch" type="checkbox" />
                            <label for="Bosch">Bosch </label>
                          </li>
                          <li>
                            <input id="DeWalt" type="checkbox" />
                            <label for="DeWalt">DeWalt </label>
                          </li>
                          <li>
                            <input id="Makita" type="checkbox" />
                            <label for="Makita">Makita </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="multimeters__sidebar-item range-item">
                      <div class="range-item__title">
                        <h2>Цена</h2>
                        <img src="{% static '/img/selectIcon.png' %}" alt="" />
                      </div>
                      <div class="range-item__body">
                        <ul class="range-type-input price-range">
                          <li>
                            <input
                              type="number"
                              min="0"
                              max="1000000"
                              oninput="validity.valid||(value='1000');"
                              id="min_price1"
                              class="price-range-field"
                            />
                          </li>
                          <li>
                            <input
                              type="number"
                              min="0"
                              max="1000000"
                              oninput="validity.valid||(value='1000');"
                              id="max_price1"
                              class="price-range-field"
                            />
                          </li>
                          <li>
                            <input
                              id="range-input1"
                              class="range-price"
                              type="checkbox"
                            />
                            <label
                              for="range-input1"
                              class="range-price-label"
                            ></label>
                          </li>
                        </ul>
                        <div
                          id="slider-range1"
                          class="price-filter-range"
                          name="rangeInput"
                        ></div>
                      </div>
                    </div>
                    <div class="multimeters__sidebar-item range-item">
                      <div class="range-item__title">
                        <h2>Режим работы</h2>
                        <img src="{% static '/img/selectIcon.png' %}" alt="" />
                      </div>
                      <div class="range-item__body">
                        <ul>
                          <li>
                            <input id="Ударный" type="checkbox" />
                            <label for="Ударный">Ударный </label>
                          </li>
                          <li>
                            <input id="Безударный" type="checkbox" />
                            <label for="Безударный">Безударный </label>
                          </li>
                          <li>
                            <input id="Импульсный" type="checkbox" />
                            <label for="Импульсный">Импульсный </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="multimeters__sidebar-item range-item">
                      <div class="range-item__title">
                        <h2>Мощность, Вт</h2>
                        <img src="{% static '/img/selectIcon.png' %}" alt="" />
                      </div>
                      <div class="range-item__body">
                        <ul class="range-type-input">
                          <li>
                            <input
                              type="number"
                              min="0"
                              max="1000000"
                              oninput="validity.valid||(value='1000');"
                              id="min_price2"
                              class="price-range-field"
                            />
                          </li>
                          <li>
                            <input
                              type="number"
                              min="0"
                              max="1000000"
                              oninput="validity.valid||(value='1000');"
                              id="max_price2"
                              class="price-range-field"
                            />
                          </li>
                          <li>
                            <input
                              id="range-input"
                              class="range-mo"
                              type="checkbox"
                            />
                            <label
                              for="range-input"
                              class="range-mo-label"
                            ></label>
                          </li>
                        </ul>
                        <div
                          id="slider-range2"
                          class="price-filter-range"
                          name="rangeInput"
                        ></div>
                      </div>
                    </div>
                    <div class="multimeters__sidebar-item range-item">
                      <div class="range-item__title">
                        <h2>Тип патрона</h2>
                        <img src="{% static '/img/selectIcon.png' %}" alt="" />
                      </div>
                      <div class="range-item__body">
                        <ul>
                          <li>
                            <input id="SDS plus" type="checkbox" />
                            <label for="SDS plus">SDS plus </label>
                          </li>
                          <li>
                            <input id="SDS Max" type="checkbox" />
                            <label for="SDS Max">SDS Max </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="multimeters__right">
                  <div class="multimeters__items main-comp">
                      {% for product in products %}
                        <div class="main-comp__item">
                          <span class="main-comp__item-label not">{{ product.status }}</span>

                          <a href="{% url 'product_detail' product.slug %}" class="main-comp__item-icon">
                            <img src="{{ product.main_image.url }}" alt="main-comp" />
                          </a>
                          <div class="main-comp__item-content">
                            <p>{{ product.name }}</p>
                            <div class="main-comp__feedback">
                              <div class="main-comp__feedback-drop">
                                <div class="rating-stars" rate="4">
                                  <div class="icon-main-comp">
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      data-prefix="fas"
                                      data-icon="star"
                                      class="svg-inline--fa fa-star fa-w-18"
                                      role="img"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 576 512"
                                    >
                                      <path
                                        fill="currentColor"
                                        d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                                      ></path>
                                    </svg>
                                  </div>
                                  <div class="icon-main-comp">
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      data-prefix="fas"
                                      data-icon="star"
                                      class="svg-inline--fa fa-star fa-w-18"
                                      role="img"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 576 512"
                                    >
                                      <path
                                        fill="currentColor"
                                        d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                                      ></path>
                                    </svg>
                                  </div>
                                  <div class="icon-main-comp">
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      data-prefix="fas"
                                      data-icon="star"
                                      class="svg-inline--fa fa-star fa-w-18"
                                      role="img"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 576 512"
                                    >
                                      <path
                                        fill="currentColor"
                                        d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                                      ></path>
                                    </svg>
                                  </div>
                                  <div class="icon-main-comp">
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      data-prefix="fas"
                                      data-icon="star"
                                      class="svg-inline--fa fa-star fa-w-18"
                                      role="img"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 576 512"
                                    >
                                      <path
                                        fill="currentColor"
                                        d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                                      ></path>
                                    </svg>
                                  </div>
                                  <div class="icon-main-comp">
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      data-prefix="fas"
                                      data-icon="star"
                                      class="svg-inline--fa fa-star fa-w-18"
                                      role="img"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 576 512"
                                    >
                                      <path
                                        fill="currentColor"
                                        d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                                      ></path>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="main-comp__item-sum">
                              <span class="old-sum not">{{ product.old_price }}<span class="sum">сум</span></span>
                              <p class="current-sum">{{ product.current_price }}<span class="sum">сум</span>
                              </p>
                              <span class="sum-available">Есть в наличии </span>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                  <div class="multimeters__pagination">
                    <ul>
                      <li>
                        <a href="#" class="disabled"
                          ><img src="{% static '/img/paginationAllLeft.png' %}" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" class="disabled">
                          <img src="{% static '/img/paginationLeft.png' %}" alt="" />
                        </a>
                      </li>
                      <li>
                        <a href="#" class="active">1</a>
                      </li>
                      <li>
                        <a href="#">2</a>
                      </li>
                      <li>
                        <a href="#">3</a>
                      </li>
                      <li>
                        <a href="#">4</a>
                      </li>
                      <li>
                        <a href="#">5</a>
                      </li>
                      <li>
                        <a href=""
                          ><img src="{% static  '/img/paginationAllRight.png' %}" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href=""
                          ><img src="{% static '/img/paginationRight.png' %}" alt=""
                        /></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="visited-goods">
            <div class="visited-goods__title">
              <h2>Просмотренные товары</h2>
            </div>
            <div class="visited-goods__items main-comp">
              <div class="main-comp__item">
                <span class="main-comp__item-label purple">Новинка</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="{% static '/img/instrumentsIcon.png' %}" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label yellow">Топ продаж</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="./img/instrumentsIcon.png" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available red">По заказу </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label red">Акция</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="./img/instrumentsIcon.png" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label">Новинка</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="./img/instrumentsIcon.png" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content  %}
<script src="{% static 'js/price_range_script.js' %}"></script>