{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="all-wrapper">
      <div class="prodetails">
        <div class="prodetails__container container">
          <div class="prodetails__navigation navigation">
            <ul>
              <li>
                <a href="#"><img src="{% static '/img/navigationIcon.png' %}" alt="navigation icon"/></a>
              </li>
              <li>
                <a href="#">Инструменты </a>
              </li>
              <li>
                <a href="#">Измерительная техника </a>
              </li>
              <li>
                <a href="#">Измерительная техника </a>
              </li>
            </ul>
          </div>
          <div class="prodetails__header">

                  <div class="prodetails__box zoom-effect">
                    <div class="prodetails__box-thumbnails">
                        <ul class="xzoom-thumbs">
                            {% for product in products.images.all %}
                                <li data-img="./img/boxImg.png" class="active">
                                    <img class="xzoom-gallery" src="{{ product.image.url }}" xpreview="./img/boxImg.png" alt=""/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="prodetails__box-big">
                    <span class="prodetails__box-big-label">{{ products.status }}</span>
                    <img id="main_image" src="{% if products.main_image %}{{ products.main_image.url }}{% endif %}" xoriginal="./img/boxImg.png" class="xzoom" alt=""/>
                    </div>
                  </div>
                  <div class="prodetails__header-right header-right">
              <div class="header-right__title">
                <a>{{ products.name }}</a>
                <a href="#formblock__body" class="header-right__feedback">
                  Оставить отзыв
                </a>
              </div>

              <div class="header-right__to-buy">
                <div class="header-right__to-buy-prices">
                  <div class="main-comp__item-sum">
                    <span class="old-sum">{{ products.old_price }}<span class="sum">сум</span></span>
                    <p class="current-sum">{{ products.current_price }}<span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>

                <a href="#" class="buy-btn"> Купить </a>
              </div>

              <div class="header-right__main-content main-content-line">
                <p>
                  Гибкая платформа Mix&Match, позволяющая формировать различные
                  сочетания модулей.
                </p>
                <p>
                  Ящик большого объема для хранения больших ручных и
                  электроинструментов.
                </p>
                <p>
                  Съемный лоток для часто используемых инструментов и
                  аксессуаров.
                </p>
                <p>
                  Все модули системы TSTAK могут устанавливаться один на другой.
                </p>
                <p>Боковые защелки обеспечивают их надежное соединение.</p>
                <p>
                  Верхняя ручка из двух материалов обеспечивает удобство
                  переноски.
                </p>
                <p>Конструкция модулей имеет высокую прочность и жесткость.</p>
                <p>Полезный объем 23 л. Толщина стенок 2,8-3,0 мм.</p>
              </div>

              <div class="header-right__footer">
                <div class="header-right__footer-title">
                  <span>Полное описание и характеристики</span>
                </div>
                <ul>
                  <li>
                    <div><img src="{% static '/img/hrf1.png' %}" alt="" /></div>
                    <a href="#">С учетом НДС </a>
                  </li>
                  <li>
                    <div><img src="{% static '/img/hrf2.png' %}" alt="" /></div>
                    <a href="#">Сравнить </a>
                  </li>
                  <li>
                    <div><img src="{% static '/img/hrf3.png' %}" alt="" /></div>
                    <a href="#">В избранное </a>
                  </li>
                  <li>
                    <div><img src="{% static '/img/share.png' %}" alt="" /></div>
                    <a href="#">Поделиться </a>
                  </li>
                </ul>
              </div>
            </div>



          </div>

          <div class="prodetails__interesting">
            <div class="prodetails__interesting-title">
              <span>Также вас могут заинтересовать</span>
            </div>
            <div class="prodetails__interesting-items main-comp">
              <div class="main-comp__item">
                <span class="main-comp__item-label purple">Новинка</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="{% static '/img/instrumentsIcon.png' %}" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label yellow">Топ продаж</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="{% static '/img/instrumentsIcon.png' %}" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available red">По заказу </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label red">Акция</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="{% static '/img/instrumentsIcon.png' %}" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label">Новинка</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="{% static '/img/instrumentsIcon.png' %}" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="prodetails__with-form">
            <div class="prodetails__with-form-content">
              <div class="item-content-block">
                <div class="item-content-block__title">
                  <p>Описание</p>
                </div>
                <div class="main-content-line">
                  <p>
                    Гибкая платформа Mix&Match, позволяющая формировать
                    различные сочетания модулей.
                  </p>
                  <p>
                    Ящик большого объема для хранения больших ручных и
                    электроинструментов.
                  </p>
                  <p>
                    Съемный лоток для часто используемых инструментов и
                    аксессуаров.
                  </p>
                  <p>
                    Все модули системы TSTAK могут устанавливаться один на
                    другой.
                  </p>
                  <p>Боковые защелки обеспечивают их надежное соединение.</p>
                  <p>
                    Верхняя ручка из двух материалов обеспечивает удобство
                    переноски.
                  </p>
                  <p>
                    Конструкция модулей имеет высокую прочность и жесткость.
                  </p>
                  <p>Полезный объем 23 л. Толщина стенок 2,8-3,0 мм.</p>
                </div>
              </div>
              <div class="item-content-block">
                <div class="item-content-block__title">
                  <p>Характеристики</p>
                </div>
                <div class="main-content-line">
                  <p>
                    Гибкая платформа Mix&Match, позволяющая формировать
                    различные сочетания модулей.
                  </p>
                  <p>
                    Ящик большого объема для хранения больших ручных и
                    электроинструментов.
                  </p>
                  <p>
                    Съемный лоток для часто используемых инструментов и
                    аксессуаров.
                  </p>
                  <p>
                    Все модули системы TSTAK могут устанавливаться один на
                    другой.
                  </p>
                  <p>Боковые защелки обеспечивают их надежное соединение.</p>
                  <p>
                    Верхняя ручка из двух материалов обеспечивает удобство
                    переноски.
                  </p>
                  <p>
                    Конструкция модулей имеет высокую прочность и жесткость.
                  </p>
                  <p>Полезный объем 23 л. Толщина стенок 2,8-3,0 мм.</p>
                </div>
              </div>
            </div>
            <div class="prodetails__with-form-formBlock formblock">
              <div class="formblock__title">
                <p>Добавить отзыв к товару</p>
              </div>
              <form>
                <input type="hidden" class="star-rating-input" />
                <div class="formblock__body" id="formblock__body">
                  <div class="rating-stars-form">
                    <div>
                      <div
                        class="rating-stars-form form-rate rating-stars"
                        rate="4"
                      >
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                          <span class="icon-label">Плохой </span>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                          <span class="icon-label-tak">Так себе </span>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                          <span class="icon-label-norm">Нормальный </span>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                          <span class="icon-label-good">Хороший </span>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                          <span class="icon-label-awe">Отличный </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="formblock__input">
                    <span class="formblock__input-label">Достоинства </span>
                    <input type="text" />
                  </div>
                  <div class="formblock__input">
                    <span class="formblock__input-label">Недостатки </span>
                    <input type="text" />
                  </div>
                  <div class="formblock__input">
                    <span class="formblock__input-label">Коментарий </span>
                    <textarea cols="30" rows="10"></textarea>
                  </div>

                  <div class="formblock__footer">
                    <p>
                      Чтобы ваш отзыв либо коментарий прошел модерацию и был
                      опубликован,
                    </p>
                    <p>ознакомьтесь, пожалуйста, с нашими правилами.</p>

                    <button type="submit" class="formblock__btn">
                      Оставить отзыв
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="seen-goods">
            <div class="seen-goods__title">
              <h2>Просмотренные товары</h2>
            </div>
            <div class="seen-goods__items main-comp">
              <div class="main-comp__item">
                <span class="main-comp__item-label purple">Новинка</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="./img/instrumentsIcon.png" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label yellow">Топ продаж</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="./img/instrumentsIcon.png" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available red">По заказу </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label red">Акция</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="./img/instrumentsIcon.png" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars" rate="4">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
              <div class="main-comp__item">
                <span class="main-comp__item-label">Новинка</span>

                <a href="#" class="main-comp__item-icon">
                  <img src="./img/instrumentsIcon.png" alt="main-comp" />
                </a>
                <div class="main-comp__item-content">
                  <p>Бесщеточная ударная дрель-шуруповерт</p>
                  <div class="main-comp__feedback">
                    <div class="main-comp__feedback-drop">
                      <div class="rating-stars">
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <div class="icon-main-comp">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="star"
                            class="svg-inline--fa fa-star fa-w-18"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                          >
                            <path
                              fill="currentColor"
                              d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                            ></path>
                          </svg>
                        </div>
                        <span class="num-feedbacks">5 отзывов</span>
                      </div>
                    </div>
                  </div>

                  <div class="main-comp__item-sum">
                    <span class="old-sum not">
                      500 000 <span class="sum">сум</span></span
                    >
                    <p class="current-sum">
                      4 920 000 <span class="sum">сум</span>
                    </p>
                    <span class="sum-available">Есть в наличии </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

